{
  "host": "<Db host>",
  "port": "<port>",
  "user": "<username>",
  "password": "<passwd>",
  "filter_db": "db1,db2",
  "engine": "<mysql|mariadb>",
  "use_gtid": false,
  "session_sqls": [
    "SET @@session.time_zone=\"+0:00\"",
    "SET @@session.wait_timeout=28800",
    "SET @@session.net_read_timeout=3600",
    "SET @@session.innodb_lock_wait_timeout=3600"
  ]
}